body{
  font-family: fantasy;
}
/* TODO: Add some fonts. */
header> h1{
  font-family: 'Josefin Sans', sans-serif; 
  width: 90%;
  border: 1px deeppink solid;
  padding-left: 10px;
  border-radius: 15pt;
  margin-left:auto;
  margin-right:auto;
  max-width: 90%;
  text-align: center;
}

.intro{
  font-family: 'Lato', sans-serif;
}

.row{
  display:flex;
}

.column{
  flex:50%;
}

.column > h2, #webring{
  font-family: 'Raleway', sans-serif;
}


#webring{
  border: 1px blue solid;
  border-radius: 5px;
  min-width: 200px;
  max-width:300px;
  text-align: center;
  margin-left: auto;
  margin-right:auto;
}

#links{
  /* I need a list style. */
}
